body{
  background-color: #efe6b8;
}

.critipedia_content{
  display: flex;
  flex-flow: column wrap;
  height: 1000px;
  width: 1000px;
}

.critipedia_item{
  height: 200px;
  width: 200px;
}



.critipedia_item .inner{
  border: 2px solid #e0d7ad;
  width: 100%;
  height: 100%;
}

.critipedia_item .name{
  display: block;
  width: 100%;
}

.critipedia_img{
  height: 100%;
  width: 100%;
}

.greenText{
  color: rgb(0, 94, 0);
}

.redText{
  color: rgb(107, 0, 0);
}

.orangeText{
  color: rgb(255, 178, 35);
}